* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f5f0;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.logo {
    text-align: center;
    padding: 20px 0;
}

.logo h1 {
    font-size: 2rem;
    color: #4caf50;
}

.login-form {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form h2 {
    font-size: 2rem;
    color: #4caf50; 
    margin-bottom: 20px;
}

.login-form .subtext {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
}

.login-form label {
    color: #4caf50; 
    font-size: 1rem;
    margin-bottom: 5px;
    display: block;
}

.login-form .remember-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.login-form .purple-button {
    width: 100%;
    padding: 12px;
    background-color: #4caf50; 
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form .purple-button:hover {
    background-color: #4caf50;
}


.forgot-password {
    color: #4caf50; 
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: #fff;
}

.socialmedia-icons i {
    margin: 0 10px;
    font-size: 1.5rem;
    color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
  
  .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ff6600;
  }